
.orderTable{
  
    padding: 20px;
    width: 1200px;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;

  .MuiTableRow-root table{
    height: "40px"
  }

}
