.cards{
    
    
    
    .card{
        margin: 20px;
        margin-top: 30px;
        -webkit-box-shadow: 3px 3px 5px 4px rgba(9,92,92,0.39);
        -moz-box-shadow: 3px 3px 5px 4px rgba(9,92,92,0.39);
        box-shadow: 3px 3px 5px 4px rgba(9,92,92,0.39);
        border-radius: 10px;
        background-color: #0F1E1E;

        
    }
    
}