.navbar{
    height:50px;
    // border-bottom: 0.5px solid rgb(231,228,228);
    display: flex;
    align-items: center;
    font-size: 14px;
    // padding:20px;
    margin-top: 30px;
    

    .wrapper{
        width: 100%;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
       

        .items{
            display: flex;
            margin-bottom: 10px;
            align-items: center;

            .item{
                display: flex;
                align-items: center;
                position: relative;
                // margin-right: 20px;

                .counter{
                    width: 16px;
                    height: 16px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    font-weight: bold;
                    position: absolute;
                    top:0;
                    right: 0;
                }
            }


        }

    }
}