
html,
body,
#root,
.app,
.content{
  height: 100%;;
  width: 100%;
  
}

.app{
  display: flex;
  position:relative;
  
}
::-webkit-scrollbar{
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
  background: #003C3C;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #0F1E1E;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #555;
}

